In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import datetime
from pandas.plotting import scatter_matrix

from app import Bank
import app.utils

In [ ]:
bank = Bank('DKB')
print(f'Bank: {bank.name}')

## Accounts

In [ ]:
bank.accounts

## Transactions

In [ ]:
bank.transactions

## Open Accounts

In [ ]:
bank.open_account(account_id=1, firstname='Dalia', lastname='Das')
bank.open_account(account_id=2, firstname='Matthias', lastname='Rettenmeier')
bank.open_account(account_id=3, firstname='Manuel', lastname='Wiedenmann')

## Add transactions

In [ ]:
bank.add_transaction(transaction_id=0,
                     sender_id=1,
                     recipient_id=2,
                     subject='Mein Weltbild',
                     amount=100.0,
                     category='Bücher',
                     timestamp=datetime.datetime.utcnow())

In [ ]:
transactions = [
    {'transaction_id': 1,
     'sender_id': 1,
     'recipient_id': 2,
     'subject': 'Data Science für Dummies',
     'amount': 26.99,
     'category': 'Bücher',
     'timestamp': app.utils.random_timestamp()},
    {'transaction_id': 2,
     'sender_id': 1,
     'recipient_id': 3,
     'subject': 'Python programmieren lernen für Dummies',
     'amount': 19.99,
     'category': 'Bücher',
     'timestamp': app.utils.random_timestamp()},
    {'transaction_id': 3,
     'sender_id': 3,
     'recipient_id': 1,
     'subject': 'Mittagessen',
     'amount': 20.,
     'category': 'Essen',
     'timestamp': app.utils.random_timestamp()},
    {'transaction_id': 4,
     'sender_id': 2,
     'recipient_id': 3,
     'subject': 'Drinks',
     'amount': 40.,
     'category': 'Lifestyle',
     'timestamp': app.utils.random_timestamp()},
]

for transaction in transactions:
    bank.add_transaction(**transaction)
    
bank.transactions

In [ ]:
bank.transactions.describe()

## .groupby() + agg()

In [ ]:
grouped_by_category = bank.transactions.groupby('category')

In [ ]:
grouped_by_category.agg({'amount': 'count'})

In [ ]:
grouped_by_category.agg({'amount': 'sum'})

In [ ]:
grouped_by_category.agg({'amount': 'max'})

In [ ]:
grouped_by_category.agg({'amount': 'min'})

### Tasks

- Group by sender_id
- Group by recipient_id

## Cleanup

In [ ]:
bank.transactions

In [ ]:
bank.transactions.drop_duplicates('id', inplace=True)

In [ ]:
bank.transactions

In [ ]:
bank.transactions.sort_values('timestamp', inplace=True)

In [ ]:
bank.transactions

## Add columns

In [ ]:
# Wir erstellen eine neue Column tax_amount indem wir die Column amount mit 0.19 multiplizieren
bank.transactions['tax_amount'] = bank.transactions['amount'] * 0.19

In [ ]:
bank.transactions

### Tasks

- [.apply() docs](http://pandas.pydata.org/pandas-docs/version/0.24/reference/api/pandas.DataFrame.apply.html)

In [ ]:
# Unser dict zum Zuordnen der richtigen Steuersätze
# Key ist die Category, der value ist der Stuersatz
tax_rates = {
    'Bücher': 0.07,
    'Essen': 0.07,
    'Lifestyle': 0.19,
}

# Erstelle eine neue Column tax_rate indem du auf der Column category .apply() aufrufst
# Nutze das tax_rates dict in der lambda function von .apply()
bank.transactions['tax_rate'] =

In [ ]:
bank.transactions

In [ ]:
# Berechne nun den richtigen tax_amount auf Grundlage der tax_rate Column
bank.transactions['tax_amount'] =

In [ ]:
bank.transactions

## Filter with .loc[]

In [ ]:
# Filter alle Bücher
bank.transactions.loc[bank.transactions['category'] == 'Bücher']

In [ ]:
# Filter alle Transaktionen mit einem amount > 20

In [ ]:
# Filter alle Bücher mit einem amount > 20

# Erst die Bücher
books = 

# Dann den amount
books_with_amount_greater_20 = 

books_with_amount_greater_20

In [ ]:
# Filter alle Transaktionen nach einem Datum (timestamp)
timestamp = app.utils.random_timestamp()

## Plots

In [ ]:
by_timestamp = bank.transactions.set_index('timestamp')

In [ ]:
by_timestamp.plot()

In [4]:
        bank = app.Bank('GLS')

        bank.open_account(account_id=1,
                          firstname='Albert',
                          lastname='Einstein')

  id firstname  lastname  balance
0  1    Albert  Einstein      0.0

In [5]:
len(bank.accounts)

1

In [7]:
list(bank.accounts.iloc[0])

[1, 'Albert', 'Einstein', 0.0]