In [38]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [174]:
from app import Bank
from app import Account
from datetime import date

In [40]:
bank = Bank('DKB')

In [41]:
print(f'Bank: {bank.name}')
print(f'Accounts: {bank.accounts}')
print(f'Transactions: {bank.transactions}')

Bank: DKB
Accounts: {}
Transactions: []

In [42]:
bank.open_account(Account(number=1, firstname='hans', lastname='wurst', balance=10000.0))
bank.open_account(Account(number=2, firstname='peter', lastname='meier', balance=500.0))
bank.open_account(Account(number=3, firstname='claudia', lastname='schiffer', balance=200.0))

In [43]:
bank.accounts[2].balance

500.0

In [44]:
bank.add_transaction(sender=bank.accounts[1], recipient=bank.accounts[2], subject='Bücher', amount=50.0)
bank.add_transaction(sender=bank.accounts[2], recipient=bank.accounts[1], subject='Zeitungen', amount=20.0)
bank.add_transaction(sender=bank.accounts[1], recipient=bank.accounts[3], subject='Möbel', amount=100.0)
bank.add_transaction(sender=bank.accounts[3], recipient=bank.accounts[1], subject='Bücher', amount=1.0)
bank.add_transaction(sender=bank.accounts[2], recipient=bank.accounts[3], subject='Bücher', amount=2.0)
bank.add_transaction(sender=bank.accounts[3], recipient=bank.accounts[2], subject='Bücher', amount=3.0)
bank.add_transaction(sender=bank.accounts[3], recipient=bank.accounts[1], subject='Bücher', amount=4.0)

In [235]:
list1 = bank._build_transactionlist_for_account(2)

In [236]:
list1
for item in list1:
    #print(index, item.amount, item.sender, item.recipient, item.timestamp)
    print(item.info(), item.timestamp)

From 1 to 2: Bücher - 50.0 € 2019-02-08 10:03:17.405214
From 2 to 1: Zeitungen - 20.0 € 2019-02-04 10:03:17.405261
From 2 to 3: Bücher - 2.0 € 2019-02-08 10:03:17.405393
From 3 to 2: Bücher - 3.0 € 2019-02-07 10:03:17.405429

In [198]:
dstart = date(2019, 2, 1)
dend = date(2019, 2, 5)
list2 = bank._filter_transactionlist_for_account_bydates(dstart,dend, list1)

In [251]:
bank.print_bankstatement_all(2)

 Konto-Nr: 2
 DKB
 Kontostand in EUR am 08.02.2019 10:01                                            500.00
 04.02   Zeitungen                           hans wurst                           -20.00
 07.02   Bücher                           claudia schiffer                          3.00
 08.02   Bücher                              hans wurst                            50.00
 08.02   Bücher                           claudia schiffer                         -2.00
 Kontostand in EUR am 08.02.2019 15:35                                            531.00

In [253]:
dstart = datetime(2019, 2, 1)
dend = datetime(2019, 2, 6)
bank.print_bankstatement_time(3, dstart, dend)

 Konto-Nr: 3
 DKB
 Kontostand in EUR am 01.02.2019 00:00                                            200.00
 01.02   Bücher                              hans wurst                            -1.00
 02.02   Möbel                               hans wurst                           100.00
 Kontostand in EUR am 06.02.2019 00:00                                            299.00

In [226]:
bank.transactions[5].change_date(7)

In [221]:
print(bank.transactions[5].timestamp.date())

2019-02-10

In [181]:
bank.transactions[3].timestamp.date()

datetime.date(2019, 2, 2)

In [199]:
print(len(list2))

1

In [239]:
bank.info_min_max_transaction()

100.0 1.0 25.714285714285715

{'Max': 100.0, 'Min': 1.0, 'Average': 25.714285714285715}